[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
